/dts-v1/;

/memreserve/	0x00007329c3600000 0x0000000000000600;
/ {
	totalsize = <0x1b7fa00>;
	timestamp = <0x685ead66>;
	version = <0x00>;
	description = "U-Boot FIT source file for arm";
	#address-cells = <0x01>;

	images {

		fdt {
			data-size = <0xe287>;
			data-position = <0x800>;
			type = "flat_dt";
			arch = "arm64";
			compression = "none";
			load = <0xffffff00>;

			hash {
				value = <0xe4196656 0x4dfb7125 0xe48ceaea 0x1526b362 0x1cb1d601 0xa8c68392 0x6c04ca2b 0xc01bc6b2>;
				algo = "sha256";
			};
		};

		kernel {
			data-size = <0x1b62008>;
			data-position = <0xec00>;
			type = "kernel";
			arch = "arm64";
			os = "linux";
			compression = "none";
			entry = <0x3200000>;
			load = <0x3200000>;

			hash {
				value = <0x753dde1f 0x65d412c4 0x50ef08c6 0x2d0f08f8 0xe6ef2fbc 0x31a1cc5a 0x2162a602 0x9fd4b42f>;
				algo = "sha256";
			};
		};

		resource {
			data-size = <0xe800>;
			data-position = <0x1b70e00>;
			type = "multi";
			arch = "arm64";
			compression = "none";

			hash {
				value = <0x1055585b 0x12236a7a 0x6068c25 0x2416c8da 0x6859476e 0xa13851c8 0xbf7e02d3 0xa776c77e>;
				algo = "sha256";
			};
		};
	};

	configurations {
		default = "conf";

		conf {
			rollback-index = <0x00>;
			fdt = "fdt";
			kernel = "kernel";
			multi = "resource";

			signature {
				algo = "sha256,rsa2048";
				padding = "pss";
				key-name-hint = "dev";
				sign-images = "fdt\0kernel\0multi";
			};
		};
	};
};
